.projects-each {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.projects-each > div {
    flex: 1;
}
.image-wrapper img {
    display: flex;
    height: 40vh;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
}
.project-info {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    padding: 15px;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    color: black;
}
.projects > div {
    flex: 0 50%;
    box-sizing:border-box;
    display: flex;
    justify-content: space-evenly;
}
.project-title{
    border-top: solid 0.5pc rgb(8, 163, 184);
    display: flex;
    font-weight: bold;
    font-size: 30px;
    color: black;
}
.project-link a{
    color: black;
    text-decoration: none;
} 
.project-title:hover{
    color: white;
    background-color: rgb(8, 163, 184);
}
.project-code {
    display: flex;
    justify-content: center;
}
.project-code a:hover{
    color: rgb(45, 76, 175);
}
@media only screen and (max-width: 600px){
    .projects-each {
        width: 100vh;
        height: 140vh; 
        margin: 10%;
    }
    .project-info {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        width: 730px;
        height: auto;
        padding: 3px;
        font-size: 30px;
        font-family: 'Kanit', sans-serif;
        color: black;
    }
    .image-wrapper img {
        display: flex;
        height: 85vh;
        padding: 20px;
        margin-top: 20px;
    }
    
}


