.header {
    height: 650px;
    padding-top: 50px;
    background-image: url('./Images/headerimg.JPG');
}
.title{
  position: relative;
  top: 20%;  
  color: white;
  margin: 5%;
  text-shadow: 0 0 4px rgb(3, 3, 3);
}
.title h1{
  font-size: 4pc;
  font-weight: bold;
}
.title h2 {
  font-size: 2pc;
  font-weight: bold;
}
