.header {
    height: 700px;
    padding-top: 50px;
}
.title{
  position: relative;
  top: 50%;  
  width: 24em;
  color: white;
  margin: 0 auto;
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);    
  animation: 1s ease-out 0s 1 slideInFromLeft;
  text-shadow: 2px 2px 4px #9b9595;
}

@keyframes slideInFromLeft {
  0% {
      transform: translateX(100%);
  }
}
