.navbar {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    padding-top: 10vh;
}
a:link {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
.navbar a {
    color: white;
    padding: 15px;
    border-radius: 30px;
    font-size: 5vh;
  }
.navbar a:hover {
    color: greenyellow;
    padding: 15px;
  }
