#footer {
    display: flex;
    height: 500px;
    background-color: rgb(8, 163, 184);
    box-shadow: inset 0 0 20px #000000;
}
#title {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 6vh;
    font-weight: 800;
    text-shadow: 2px 2px 4px #9b9595;
}
.contact-form{
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 100%;
    margin: 50px;
    margin-top: 20px
}

.contact-form input{
    font-size: 20px;
    margin-top: 10px;
    width: auto;
    height: 30px;
}

.contact-form textarea{
    font-size: 20px;
    margin-top: 20px;
    width: auto;
    height: 150px;
}
.zoom{
    display: flex;
    justify-content: center;
    transition: transform .2s;
} 
.zoom:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);  
} 
.self-portrait {
    margin: 30px;
    border:white 10px solid;
    border-radius: 50%;
}
img { 
    width: auto;
    height: 300px; 
} 
.contact-links a{
    color: white;
    padding: 8px;
    border-radius: 30px;
} 
.contact-links a:hover{
    color: greenyellow;
    padding: 8px;
    border-radius: 30px;
} 
.contact-links {
    margin: 1px auto;
    font-size: 4vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-shadow: 2px 2px 4px #9b9595;
}
 @media only screen and (max-width: 600px){
    body {
      width: 920px;
    }
    img {
        height: 170px;
    }
    .contact-form{
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    .contact-links {
        margin-left: 100px;
    }
  }
