#footer {
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 500px;
}
.contact-form{
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 100%;
    margin: 50px;
    margin-top: 20px
}

.contact-form input{
    font-size: 20px;
    margin-top: 10px;
    width: auto;
    height: 30px;
}

.contact-form textarea{
    font-size: 20px;
    margin-top: 20px;
    width: auto;
    height: 150px;
}

button {
    background-color: rgba(80, 26, 26, 0.851);
    border: solid 2px rgba(80, 26, 26, 0.851) ;
    color: white;
    margin-top: 20px;
    font-size: 20px;
    width: 30%;
    height: auto;
    font-weight: bold;
}
.zoom{
    display: flex;
    justify-content: center;
    transition: transform .2s;
}
.zoom:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
}
.self-portrait {
    margin: 30px;
    border:white 10px solid;
    border-radius: 50%;
}
img { 
    width: auto;
    height: 300px; 
} 
.contact-links a{
    border: white 2px solid;
    color: white;
    padding: 8px;
    border-radius: 30px;
} 
.contact-links a:hover{
    border: greenyellow 2px solid;
    color: greenyellow;
    padding: 8px;
    border-radius: 30px;
} 
.contact-links {
    margin: 1px auto;
    font-size: 3vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
@media only screen and (max-width: 600px){
    body {
      width: 920px;
    }
    img {
        height: 170px;
    }
    .contact-form{
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    .contact-links {
        margin-left: 100px;
    }
  }
