html {
    scroll-behavior: smooth;
}
#project-container {
    display: flex;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    width: 10%;
    justify-items: center;
    align-content: center;
}
.projects {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
    flex: 1;
}
body {
    background-image: radial-gradient(circle, #010921, #021a3d, #00275b, #00357b, #00439c, #0254b1, #0266c7, #0078dc, #1e91e6, #45a9ed, #6bc0f2, #92d6f7);
    background-attachment: fixed;
}  
@media only screen and (max-width: 600px) {
    #project-container {
        display: flex;
        flex-direction: column;
    }
    .projects {
        margin-right: 80%;
    }
  }




