html {
    scroll-behavior: smooth;
}
#project-container {
    display: flex;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    width: 10%;
    justify-items: center;
    align-content: center;
}
.projects {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
    flex: 1;
}
body {
    background-position:center;
    background-attachment: fixed;
    background-image: radial-gradient(circle, #056c83, #075567, #073f4c, #052a33, #00171c);
}  
@media only screen and (max-width: 600px) {
    #project-container {
        display: flex;
        flex-direction: column;
    }
  }




