@import url('https://fonts.googleapis.com/css?family=Eczar&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');

#about-me {
    display: flex;
    flex-direction: row;
    background-color: #4D9DEC;
    font-size: 3vh;
    margin-top: 5%;
    font-weight: bold;
    color: white;
    padding: 60px;
}
#about-me h3 {
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    font-size: 2.5pc;
    margin-bottom: 5%;
   }

.about-me-images h3{
    font-size: 20px;
    margin: 30px;
    text-align: center;
}

.about-me-images img{
    height: 6pc;
    padding: 10px;
    border-radius: 1em/.5em; 
    margin: 1rem;
    background-color: rgba(255, 255, 255, 0.733);
}
#self-portrait { 
    margin: auto;
    border: .5pc solid white;
    border-radius: 50%;
}